<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteGroupEnabled>false</SiteGroupEnabled>
  <SiteName>We7</SiteName>
  <CompanyName>We7</CompanyName>
  <RootUrl>www.baidu.com</RootUrl>
  <AdministratorID>{00000000-0000-0000-0000-000000000000}</AdministratorID>
  <AdministratorName>jp</AdministratorName>
  <AdministratorKey>F6-CF-52-6B-15-DD-AC-D7-F3-CF-F5-B4-5F-12-E2-2F</AdministratorKey>
  <IsPasswordHashed>true</IsPasswordHashed>
  <ADUrl />
  <SiteUrl>http://192.168.1.127:82</SiteUrl>
  <PluginSN />
  <ShopLoginName>mengxianying</ShopLoginName>
  <ShopPassword>CE-0B-FD-15-05-9B-68-D6-76-88-88-4D-7A-3D-3E-8C</ShopPassword>
  <LDAPEnable>false</LDAPEnable>
</SiteConfigInfo>