/*************************************************************
 * Command:Start
 * Control:Search.ResultUI
 * Style:Search_ResultUI
 * Desc:Search.ResultUI部件的样式
 * Quot:site.home|site.welcome
*************************************************************/
.Search_ResultUI{
	width: 711px;
    border:1px solid #CCC;
}
.Search_ResultUI .article_list
{
}

.Search_ResultUI .article_list h3{
    background: url(../images/page_1.jpg) no-repeat;
    height: 30px;
    line-height: 30px; color:#F00;
    font-size:14px;
    font-weight:bold;
    padding-left: 28px;
}
.Search_ResultUI .article_list h3 span
{
    background: url(../images/sidebar.gif) no-repeat left top;
    display: inline-block;
    padding-left: 37px;
}
.Search_ResultUI .article_list h3 em
{
    background: url(../images/sidebar.gif) no-repeat right -33px;
    padding-right: 37px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
}
.Search_ResultUI .article_list h3 em a
{
    color: #ffff00;
}
.Search_ResultUI .article_list h3 em a:hover
{
    color: #fff;
}
.Search_ResultUI .article_list ul
{
    padding: 10px 10px 10px 10px;
}
.Search_ResultUI .article_list li
{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    background: url(../images/line.gif) repeat-x left bottom;
}
.Search_ResultUI .article_list li span.datetime
{
    float: right;
    padding-right: 5px;
}
.Search_ResultUI .article_list li a
{
    color: #333;
    padding-left: 20px;
    background: url(../images/icon4.gif) no-repeat left -29px;
}
.Search_ResultUI .article_list li a:hover {
    background: url(../images/icon4.gif) no-repeat scroll left 1px transparent;
    color: #AE541F;
}
.Search_ResultUI .underline_left
{
    height: 7px;
    line-height: 7px;
    font-size: 0px;
    background: url(../images/back.gif) no-repeat left -269px;
}
.Search_ResultUI .clear
{
    clear: both;
}
.Search_ResultUI .clear:after
{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.Search_ResultUI .page_css, .class_page
{
    text-align: center;
    padding: 5px 0;
}
.Search_ResultUI .page_css a, .class_page a
{
    display: inline-block;
    border: 1px solid #a8c1ce;
    padding: 3px 8px;
    color: #4a89a9;
    line-height: 100%;
}
.Search_ResultUI .page_css a:hover, .class_page a:hover
{
    color: #fff;
    border: 1px solid #4081A1;
    background: #62A1DF;
}
.Search_ResultUI .page_css b a, .class_page b a
{
    color: #fff;
    border: 1px solid #4081A1;
    background: #62A1DF;
}
.Search_ResultUI .page_line
{
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}


/*************************************************************
 * Command:End
 * Control:Search.ResultUI
 * Style:Search_ResultUI
 * Desc:Search.ResultUI部件的样式
 * Quot:site.home|site.welcome
*************************************************************/